.bg-img {
/* The image used */
background-image: url("../ideal.jpg");
/* Control the height of the image */
min-height: 600px;
/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
background-attachment: fixed;
}
@media only screen and (max-width: 768px) {
.bg-img {
background-size: calc(100vw + 100vh);
}
}
.logo{
width: 100px;
height: 100px;
}
.total
{
box-sizing: border-box;
backdrop-filter: blur(25px);
width: 260px;
margin: 5px auto 0;
border-radius: 1.5em;
box-shadow: 0px 1px 1px 4px rgba(0, 0, 0, 0.50);
padding-bottom: 30px;
font-family: 'Roboto', sans-serif;
}
h1,.input::-webkit-input-placeholder{color: black;}, input[type="submit"] 
{
-webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
font-family: 'Roboto', sans-serif;     
}
h1 {
height: 60px;
width: 100%;
font-size: 18px;
background: #1882aa;
text-align: center;
color: white;
line-height: 150%;
border-radius: 23px 23px 0 0;
box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
}
h1 {
box-sizing: border-box;
padding: 20px;
}
.input {
margin: 20px 25px;
width: 200px;
display: block;
border: none;
padding: 10px 0;
border-bottom: solid 1px black;
-webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, black 40%);
background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, black 40%);
background-position: -200px 0;
background-size: 200px 100%;
background-repeat: no-repeat;
color: #000;
font-family: 'Roboto', sans-serif;
}
.input:focus, .input:valid {
box-shadow: none;
outline: none;
background-position: 0 ;
}
.input:focus::-webkit-input-placeholder, .input:valid::-webkit-input-placeholder {
color: black;
font-size: 11px;
-webkit-transform: translateY(-40px);
transform: translateY(-40px);
visibility: visible !important;
}
input[type="submit"] {
border: none;
background: #1882aa;
cursor: pointer;
border-radius: 3px;
padding: 12px;
width: 210px;
color: white;
margin-left: 25px;
box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
font-family: 'Roboto', sans-serif;
}
input[type="submit"]:hover {
-webkit-transform: translateY(-3px);
-ms-transform: translateY(-3px);
transform: translateY(-3px);
box-shadow: 0 6px 6px 0 rgba(24, 130, 170, 0.7);
}
.error
{
color:red;
font-family: 'Roboto', sans-serif;
font-size:13px;
width:200px;
margin:0 auto;
text-align:center;
display:none;
}
/*chatbot.css*/
:root {
/*     --chatbot-height: 66vh; */
--chatbot-avatar: url("../ideal_logo.jpg");
}
#chat-app {
width: 80vw;
max-width: 24rem;
padding: 1rem 1rem 2rem 1rem;
position: fixed;
right: 2rem;
bottom: 5rem;
background-color: transparent;
}
#hotel-chatbot-container {
width: 80vw;
max-width: 24rem;
padding: 1rem 1rem 2rem 1rem;
border: 1px solid hsl(0, 0%, 90%);
border-radius: 12px;
box-shadow: 2px 2px 5px hsl(0, 0%, 60%);
/*     height: var(--chatbot-height); */
height: 66vh;
position: fixed;
right: 2rem;
bottom: 5rem;
overflow-y: scroll;
overflow-x: hidden;
scroll-behavior: smooth;
background-color: #D3D3D3;
/* Hiding scrollbars is a pain. This is from: https://redstapler.co/css-hidden-scrollbar-while-scrollable-element/ */
scrollbar-width: none;
-ms-overflow-style: none;
/*       height: 100%; */
/*   max-width: 24rem; */
/*     padding: 1rem 1rem 2rem 1rem; */
/*     height: var(--chatbot-height); */
/*     height: 66vh */
}
#hotel-chatbot-inner {
height: 80%;
overflow-y: scroll;
overflow-x: hidden;
scroll-behavior: smooth;
position: absolute;
/* Hiding scrollbars is a pain. This is from: https://redstapler.co/css-hidden-scrollbar-while-scrollable-element/ */
scrollbar-width: none;
-ms-overflow-style: none;
}
#hotel-chatbot-inner::-webkit-scrollbar { 
display: none;  /* Chrome Safari */
}
.hotel-chatbot-header {
height: 10%;
}
.hotel-chatbot-footer {
height: 10%;
}
#hotel-chatbot-inner::-webkit-scrollbar { 
display: none;  /* Chrome Safari */
}
.chat-response,
.chat-ask {
opacity: 0;  /* Set to activated to show */
transform: translateY(-50%); /* Set to activated to move down */
transition: all 0.3s 0.3s;
border-radius: 12px;
border: 1x solid #393562;
background-color: #e6e6e6;
line-height: 1.4;
color: #000;
width: 86%;
margin-bottom: 0.5rem;
border: 1x solid #393562;
padding: 0.5rem .5rem .5rem;
}
.chat-ask {
background-color: rgb(230, 230, 230);
color: #000;
}
.chat-response {
display: flex;
margin-left: 26px;
padding: 0.5rem .55rem .5rem;
position: relative;
border: 1x solid #393562;
}.chat-response:before {
display: block;
content: '';
width: 24px;
height: 24px;
position: absolute;
left: -26px;
top: 6px;
background-image: var(--chatbot-avatar);
background-color: #FFF;
background-repeat: no-repeat;
background-size: 100%;
border-radius: 100%;
}
.chat-ask + chat-response {
padding: 3rem;
}
.chat-response:has(.hotels) {
padding: 0.5rem .15rem .5rem;
background-color: #fff;
}
.chat-response > .hotels {
padding: 0.5rem .15rem .5rem;
}
/* .chat-response:before {
display: block;
content: '';
width: 24px;
height: 24px;
position: absolute;
left: -26px;
top: 6px;
background-image: var(--chatbot-avatar);
background-color: #FFF;
background-repeat: no-repeat;
background-size: 100%;
border-radius: 100%; */
}
.chat-ask {
background-color: #393562;
margin-right: 0;
margin-left: auto;
color: hsl(0, 0%, 100%);
}
.chat-ask.activated {
background-color: #fff;
box-shadow: 2px 2px 5px hsl(0, 0%, 60%);
}
.choices {
opacity: 0; /* Set to active to show */
transform: translateY(-50%); /* Set to activated to move down */
transition: all 0.3s 0.3s;
transition: opacity 0.3s 0.3s;
margin-top: 0.5rem;
margin-left: 22px;
}
.choice {
display: inline-block;
outline: none;
padding: 0.3rem 0.8rem;
background-color: #393562;
color: #fff;
border: none;
border-radius: 1rem;
font-size: 0.9rem;
font-weight: 600;
line-height: 1.3;
margin-bottom: 0.5rem;
margin-right: 0.5rem;
text-decoration: none;
cursor: pointer;
}
.choice:disabled {
color: hsl(0, 0%, 80%);
border-color: hsl(0, 0%, 80%);
}
.activated {
opacity: 1;
transform: translateY(0);
}
.restart {
position: absolute;
bottom: 0.5rem;
left: 0.5rem;
outline: none;
font-size: 12px;
color: hsl(0, 0%, 50%);
box-shadow: none;
border: 1px solid hsl(0, 0%, 60%);
border-radius: 1rem;
background: hsl(0, 0%, 100%);
padding: 0.2rem 0.5rem;
cursor: pointer;
}
/*GRID*/
.hotels {
display: grid;
grid-gap: .5rem;
grid-template-columns: repeat(2, 1fr);
/*   display: flex;
justify-content: space-between;
width: 100%; */
}
@supports (display:grid) {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
grid-gap: .5rem;
}
.hotel {
display: grid;
grid-template-rows: repeat(auto-fit, minmax(2rem, 1fr));
/*    display: flex;
flex-direction: column;
align-items: center; */
padding: 1rem .5rem;
border-radius: 1rem;
box-shadow: 0 0 1.5rem rgba(0, 0, 0, .15);
background-color: #fff;
backface-visibility: hidden;
overflow: hidden;
transition: all 0.3s ease-in;
/*    margin: 0 .25rem 0; */ 
/*   v Chrome sa zobrazuje inak nez Moz */
transition: all 0.3s ease-in;
}
.hotel:first-child {
margin-left: 0;
}
.hotel:last-child {
margin-right: 0;
}
.hotel:hover {
transition: transform (translateY (-1.5rem) scale(1.03));
}
.hotel__img {
max-width: 100%;
height: auto;
}
.hotel__img img {
max-width: 100%;
height: auto;
vertical-align: middle;
height: 100%;
}
.hotel__name {
/*     flex-grow: 1; */
z-index: 3;
padding: .5rem;
text-align: center;
color: #393562;
animation: scaleIn 1s cubic-bezier(0, 1.07, 0.72, 1.42);
transition: all 0.2s ease-in;
}
.hotel__name::after {
position: absolute;
left: 0;
bottom: 0;
width: 100%;
height: 2px;
transform: scaleY(1);
transition: transform 0.3s;
}
.hotel__name:hover::after {
transform: scaleY(1);
}
.hotel__name .heading-primary {
font-weight: 600;
font-size: 1.6rem;
line-height: 1;
}
.hotel__name .heading-secondary {
font-weight: 400;
font-size: 1.4rem;
line-height: 1;
}
.hotel__desc {
/*     flex-grow: 1; */
width: 100%;
font-size: 1.2rem;
font-weight: 400;
padding: .25rem .75rem;
text-align: center;
color: #000;
z-index: 3;
line-height: 1.15;
justify-self: center;
align-self: center;
}
.hotel__desc p {
border: 1px solid #e6e6e6;
border-radius: 1rem;
padding: .55rem .75rem;
box-shadow: 0px 0.2rem .25rem rgba(0, 0, 0, 0.2);
}
.hotel__bottom-content {
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
/*     flex-grow: 1; */
width: 100%;
}
.hotel_info_, .hotel__btn {
line-height: 2.6rem;
/*   margin-left: 2rem; */
display: flex;
align-items: center;
}
.hotel_info_ svg, .hotel__btn svg {
fill: #bada55;
height: 2rem;
width: 2rem;
margin-right: 1rem;
}
.hotel__info {
font-size: 2.1rem;
font-weight: 700;
white-space: nowrap;
color: #000;
backface-visibility: hidden;
}
.hotel__btn {
line-height: 1.2;
padding: 1rem .55rem 0 .55rem;
}
/*button*/
.bttn, .bttn:link, .bttn:visited {
font-size: 18px;
padding: .55rem 1rem;
border-radius: 10rem;
text-align: center;
display: inline-block;
position: relative;
text-decoration: none;
border: none;
white-space: nowrap;
cursor: pointer;
transition: all .2s ease;
background-color: #4d7cff;
color: #fff;
}
.bttn-fly::after {
position: absolute;
display: inline-block;
content: "";
height: 100%;
width: 100%;
border-radius: 10rem;
top: 0;
left: 0;
z-index: -1;
background-color: #000;
-webkit-transition: all .4s ease;
-ms-transition: all .4s ease;
-o-transition: all .4s ease;
-transition: all .4s ease;
transition: all .4s ease;
}
/*************TOGGLE**************/
.chat-app:not(.is-active) .chatbot_toggle:hover {
animation: 0.5s blob linear;
}
.chatbot_toggle {
position: absolute;
z-index: 5;
bottom: 0.75rem;
right: 0.75rem;
height: 64px;
width: 64px;
transform: scale(0.83);
background: linear-gradient(to right, #00c6ff, #0072ff);
border-radius: 100%;
transition: all 0.3s;
box-shadow: 0 10px 20px rgba(0, 198, 255, 0.4);
}
.chatbot_toggle:hover {
cursor: pointer;
transform: none;
}
.chatbot_toggle:before {
content: "";
display: block;
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
z-index: -1;
border-radius: 100%;
border: 2px solid #00c6ff;
opacity: 0;
}
.chatbot_toggle:after {
content: "";
display: block;
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
background: linear-gradient(to right, #393562, #5176fb);
border-radius: 100%;
transition: all 0.3s;
opacity: 0;
}
.chatbot_toggle .icon {
z-index: 2;
color: white;
font-size: 1.5em;
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
transition: all cubic-bezier(0.72, 0.17, 0.36, 1.03) 0.4s;
}
.chat-app.is-active .chatbot_toggle:before {
animation: chat-bubble cubic-bezier(0.15, 0.4, 0.15, 1) 0.7s;
}
.chat-app.is-active .chatbot_toggle:after {
opacity: 1;
}
/*ANIMATIONS*/
.chat-app #hotel-chatbot-container {
transition: all cubic-bezier(0.71, 0, 0.23, 1.38) 0.5s;
opacity: 0;
visibility: hidden;
pointer-events: none;
transform-origin: 100% 100%;
transform: rotate(-3deg) scale(0.8);
}
.chat-app .icon.send {
opacity: 0;
transform: translateY(-100%)scale(0.5);
}
.chat-app .icon.open {
opacity: 1;
transform: translateY(0);
}
.chat-app.is-active #hotel-chatbot-container{
opacity: 1;
visibility: visible;
pointer-events: unset;
transform: none;
}
.chat-app.is-active .icon.send {
opacity: 1;
transform: translateY(0);
}
.chat-app.is-active .icon.open {
opacity: 0;
transform: translateY(100%) scale(0.5);
}
@keyframes chat-bubble {
0% {
opacity: 0;
transform: scale(0.7);
}
25% {
opacity: 1;
}
100% {
opacity: 0;
transform: scale(1.6);
}
}
@keyframes message-pop {
to {
opacity: 1;
transform: none;
}
}
@keyframes blob {
0% {
border-radius: 100% 100% 100% 100%;
}
25% {
border-radius: 60% 95% 60% 95%;
}
50% {
border-radius: 90% 65% 90% 65%;
}
75% {
border-radius: 80% 98% 80% 98%;
}
100% {
border-radius: 100% 100% 100% 100%;
}
}